<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Josh Katingesdfsdfsfds</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Josh Katinger</li>
          <li><a class="u-email" href="mailto:me@joshkatinger.com">me@joshkatinger.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/jkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">jkatinger</span></a></li>
          <li><a href="https://www.linkedin.com/in/joshkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
              </svg> <span class="username">joshkatinger</span></a></li>
          <li><a href="https://www.twitter.com/jkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
              </svg> <span class="username">jkatinger</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Welcome to the personal website of Josh Katinger.</p>
      </div>
    </div>

  </div>

</footer>