<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">Thanks for stopping by...</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a class="page-link" href="/about/">About</a></li>
          <li><a class="page-link" href="/projects/">Projects</a></li>
          <li><a class="page-link" href="/writing/">Writing</a></li>
          <li><a class="page-link" href="/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/jkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">jkatinger</span></a></li>
          <li><a href="https://www.linkedin.com/in/joshkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
              </svg> <span class="username">joshkatinger</span></a></li>
          <li><a href="https://www.twitter.com/jkatinger"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
              </svg> <span class="username">jkatinger</span></a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>All contents are &copy; 2023 Josh Katinger. All opinions expressed are solely my own and do not reflect those of any other entity, including my employers or clients.</p>
      </div>
    </div>
  </div>
</footer>